<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, magnam?</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit.</p>
    </div>

    <div class="col-2 homepage_content">
        <h2>Stuff I've Written</h2>
        <hr>

        <!-- Esta linea me pone automaticamente el nuevo articulo creado
        en mi pagina -->
        <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <!-- post.created_at.strftime("%A, %b %d") - Pone automaticamente la fecha -->
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <% end %>

    </div>

    <div class="col-3 homepage_content">
        <h2>Stuff I've Built</h2>
        <hr>

        <% @projects.each do |project| %>
          <h3><a href="#"><%= link_to project.title, project %></a></h3>
          <!-- project.created_at.strftime("%A, %b %d") - Pone automaticamente la fecha -->
          <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
        <% end %>
        
    </div>
  </div>
